@model MachineModel

<div class="container">
    <h1>Machine Bio</h1>
    <h2>@Model.Name</h2>
    <p>Room: @Model.Room</p>
    <img src="@Url.Action("GenerateQrCode", "Machine", new { room = Model.Room, id = Model.Id, size = "small" })" alt="QR Code" />

    <h3>PDFs</h3>
    <button type="button" class="btn btn-primary"
        onclick="location.href='@Url.Action("RefreshBio", "Machine", new { machineRoom = Model.Room, machineId = Model.Id })'">
        <i class="bi bi-arrow-clockwise"></i>
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @* Display PDFs *@
            @if (Model.MachinePdfs != null && Model.MachinePdfs.Any())
            {
                @foreach (var pdf in Model.MachinePdfs)
                {
                    <tr>
                        <td>@pdf.FileName</td>
                        <td>
                            <a asp-action="GetPdf" asp-route-id="@pdf.Id" target="_blank" class="btn btn-primary">View</a>
                            <a asp-action="GetPdf" asp-route-id="@pdf.Id" download="@pdf.FileName"
                                class="btn btn-secondary">Download</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <form asp-action="DeletePdf" method="post" style="display:inline;">
                                    <input type="hidden" name="pdfId" value="@pdf.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">No PDFs available.</td>
                </tr>
            }
        </tbody>
    </table>
    @if (User.IsInRole("Admin"))
    {
        <h3>Upload PDF</h3>
        <form asp-action="UploadPdf" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" name="machineId" value="@Model.Id" />
                <input type="file" name="files" class="form-control" accept=".pdf" multiple />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    }
    
</div>